* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.container {
  display: grid;
  grid-template: repeat(2,250px) / repeat(5,180px);
  grid-gap : 10px;
  justify-content: center;
  width: 80%;
  margin: 2em auto;
  margin-top: 100px;
}

.container div {
  border-radius: 20px;
  font-size: 80px;
  line-height: 250px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.fond  {
  background:navy;
  color: transparent;
  /*On empeche la triche en selectionnant les element pour les voir*/
  user-select: none; 
}